body{
    margin: 0;
}

/* header*/
header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:   rgb(3, 201, 3);
    width: 100%;
    text-decoration: none;
}

header a{
    color:#000000;
    text-decoration: none;
}

.header_section{
    display:flex;
    align-items: center;
    justify-content: center;
}

.header_section div{
    margin: auto;
    padding: auto;
}

header .left{
    margin: 0;
    padding: 10px;
    background-color: rgb(0, 71, 0);
}

header .left a{
    font-size: large;
    color: white;
}

header .left:hover{
    cursor: pointer;
    background-color: darkolivegreen;
}

header .left label:hover{
    cursor: pointer;
}



header .center{
    display: auto;
}

header .right{
    margin: 0;
    padding: 5px;
}

header .right h3{
    display:inline;
    margin: 10px;
}

header .right a{
    border: 1px #000000 solid;
    border-radius: 5px;
    padding: 2.5px;
}

header .right a:hover{
    background-color: darkolivegreen;
}


/* fodter */