
/* body */
body .content_section{
    display: flex;
}

body .content_section section{
    flex: 1; 
}

body .content_section .content_section_left{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/caesar.jpg');
	background-position: center;
	text-align:center;
    background-position:cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}



body .content_section .content_section_center{
    overflow: auto;
    flex:3;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body .content_section_center_form textarea{
    resize:none;
    width: 100%;
    height: 100px;
}

body .content_section_center_hogeet_list{
}

body .content_section_center_hogeet{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid;
}

