
/* body */
body .content_section{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/caesar.jpg');
	background-position: center;
	text-align:center;
    background-position:cover;
    background-size: cover;
    width: auto;
}



body .content_section .content_section_center{
    background-color: rgba(220, 163, 88, 0.775);
    overflow: auto;
    flex:2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body .content_section_center_form textarea{
    resize:none;
    width: 100%;
    height: 100px;
}

body .content_section_center_hogeet_list{
}

body .content_section_center_hogeet{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid;
}



@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px){
}

@media screen and (min-width: 786px){

body .content_section{
    display: flex;
}

body .content_section section{
    flex: 1; 
}
body .content_section .content_section_center{
    flex: 3;
} 


}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){

}
