<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css')}}"  type="text/css" media="screen" />
  <link rel="icon" href="{{ url_for('static',filename='hamedori.ico')}}"/>
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='hamedori_android.ico')}}"/>
  {% block head %}{% endblock %}
</head>

<body>
  <header>
    <section class="header_section">
      <div class="left">
        <a href="/hogetter/"><label>HOGETTER</label></a>
      </div>
      <div class="center">
      </div>
    {% block header %}{% endblock %}
    </section>
  </header>

  {% block body %}
  {% endblock %}
</body>

<footer>

</footer>

</html>