{% extends 'base.html' %}

{% block content %}
<body>
    <h1>HOGETTER HOME</h1>
    {% if owner %}
        <h3>Welcome {{owner}}</h3>
    {% endif %}
        <div>
        {% if owner %}
            <a href="{{ url_for('auth.logout')}}">logout</a>
            <a href="{{ url_for('auth.signout')}}">signout</a>
        {% else %}
            <a href="{{ url_for('auth.login')}}">login</a>
            <a href="{{ url_for('auth.signup')}}">signup</a>
        {% endif %}
    </div>
    <div>
        {% if owner %}
            <form method="post" action="/hogetter/create" enctype="multipart/form-data">
                <textarea name="hogeet" id="hogeet"></textarea>
                <input type="file" name="content">
                <input type="submit" value="hogeet">
            </form>
        {% else %}
            <h4>Please login if want to hogeet or edit.</h4>
        {% endif %}
    </div>
    <div>
        <ul type="None">
            {% for post in posts %}
                <li>{{post["time"][0]}}/{{post["time"][1]}}/{{post["time"][2]}} {{post["time"][3]}}:{{post["time"][4]}}:{{post["time"][5]}} | {{post["text"]}} :: {{post["owner"]}}
                
                {% if owner == post["owner"]: %}
                    <a href="/hogetter/{{post['key']}}">Edit</a>
                {% endif %}
                </li>

                {% if  post["content_id"] != None %}
                    {% if post["content_id"].split(".")[-1] != "mp4" %}
                        <img src="/hogetter/drive/{{post['content_id']}}" width="300" height="300">
                    {% else %}
                        <video src="/hogetter/drive/{{post['content_id']}}" width="300" height="300" controls></video>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% for post in posts %}
    {{post}}<br>
{% endfor %}

</body>
{% endblock %}
