{% extends 'base.html' %}

{% block content %}
<body>
    <h1>HOGETTER HOME</h1>
    <h3>Welcome {{owner}}</h3>
    <div>
        <a href="{{ url_for('auth.logout')}}">logout</a>
        <a href="{{ url_for('auth.signout')}}", onclick="return confirm('Are you sure?')">signout</a>
    </div>
    <div>
        <form method="post" action="/hogetter/create">
            <textarea name="hogeet" id="hogeet"></textarea>
            <input type="submit" value="hogeet">
        </form>
    </div>
    <div>
        <ul type="None">
            {% for post in posts %}
                <li>{{post["time"][0]}}/{{post["time"][1]}}/{{post["time"][2]}} {{post["time"][3]}}:{{post["time"][4]}}:{{post["time"][5]}} | {{post["text"]}} :: {{post["owner"]}} :: {{post["key"]}}</li>
            {% endfor %}
        </ul>
    </div>

</body>
{% endblock %}
