{% extends 'base.html' %}

{% block head%}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/auth_form.css')}}"  type="text/css" media="screen" />
    <title>HOGETTR</title>
{% endblock %}


{% block body %}
<section class="auth_form">
    <section class="content">
        <div class="form_content">
            <h3>{{command.upper()}}</h3>
            <form method="post" action="/hogetter/{{command}}">
                <label for="username">Username</label>
                <br>
                <input name="username" id="username" required>
                <br>
                <label for="password">Password</label>
                <br>
                <input type="password" name="password" id="password" required>
                <br>
                <div class="form_content_submit">
                    {% if command == "signout" %}
                        <input type="submit" value="{{command}}", onclick="return confirm('Are you sure?')" class="form_submit">
                    {% else %} 
                        <input type="submit" value="{{command}}" class="form_submit">
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="flash_message">
            {% for message in get_flashed_messages() %}
                <br>
                <h4>Error Message</h4>
                <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
    </section>
</section>
{% endblock %}